body {
  background-color: #f5f5f5;
}

.shopping-cart {
  padding: 2% 0;
}

.image-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items {
  margin: 2%;
}

.price-details h6 {
  padding: 3%, 2%;
}

.cart-detail {
  top: 5rem;
}

.active {
  /* color: var(--yellow); */
}

.fa-plus,
.fa-minus {
  pointer-events: none;
}
